html {
  background-color: #E9ECEF; }

body {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  background: white;
  color: white; }

#navbar-fixed {
  visibility: hidden;
  background: RGBA(255, 255, 255, 0.8); }

@media screen and (max-width: 930px) {
  #nav-bar {
    display: none;
    width: 100%; }
    #nav-bar ul {
      width: 100%;
      color: red; } }
#nav-bar li {
  float: right;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  padding: 4px 4px;
  font-size: 16px;
  color: #7c7a7a; }
  @media screen and (max-width: 930px) {
    #nav-bar li {
      width: 99%;
      text-align: center;
      background-color: #8F8F8E;
      color: white;
      padding: 12px;
      font-size: 20px; }
      #nav-bar li:hover {
        background-color: #fbbe5b;
        color: #191919; } }

li:hover {
  color: black;
  border-bottom: 1px solid #fbbe5b; }

ul {
  padding-top: 30px; }
  @media screen and (max-width: 930px) {
    ul {
      margin: 0 auto; } }

@media screen and (max-width: 930px) {
  #contact-form {
    width: 100%;
    margin: 0; } }
#contact-form .content {
  display: block;
  text-align: center; }
#contact-form form {
  width: 300px;
  display: inline-block;
  text-align: center; }
#contact-form input {
  height: 30px;
  font-size: 16px; }
#contact-form textarea {
  margin-top: 5px;
  width: 100%;
  width: 300px;
  height: 150px;
  font-size: 16px; }
#contact-form button {
  border-radius: 5px;
  border-width: 0px;
  font-size: 24px;
  color: #191919;
  background: #fbbe5b;
  padding-left: 10px;
  padding-right: 10px; }

.zombie-thing-image {
  margin: 0 auto;
  display: block;
  max-width: 600px !important; }

.img-m {
  width: 100%;
  max-width: 400px !important; }

#img-potrait {
  visibility: hidden; }

.tech-list ul {
  max-width: 400px;
  margin: 0 auto;
  text-align: center; }
.tech-list li {
  display: inline-block;
  border-radius: 10px;
  margin: 3px 3px;
  padding: 10px;
  color: #191919;
  background-color: white;
  visibility: hidden; }
.tech-list li:hover {
  background: #d33682;
  color: white; }

#about-summary {
  max-width: 600px;
  text-align: center;
  margin: 0 auto; }

.text-summary {
  max-width: 720px;
  text-align: center;
  margin: 0 auto; }

.technology-list {
  margin-top: 10px;
  color: #787878;
  text-align: center; }

.carousel {
  width: 600px;
  height: 300px;
  border: 1px solid white;
  margin: 0 auto; }
  @media screen and (max-width: 930px) {
    .carousel {
      width: 99%; } }

#footer {
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 10px;
  bottom: 0;
  color: #191919; }
  #footer p {
    font-weight: bold;
    text-align: center; }
  #footer ul {
    display: block;
    width: 40%;
    overflow: hidden; }
    @media screen and (max-width: 930px) {
      #footer ul {
        width: 100%; } }
  #footer li {
    min-width: 200px;
    padding-top: 14px;
    display: flex;
    align-items: center;
    width: 100%; }

#footer-contact-info li {
  padding: 5px 0px; }

#footer-site-info {
  float: right; }
  #footer-site-info h2 {
    font-size: 20px;
    border-bottom: 2px solid; }
  #footer-site-info p {
    font-style: italic;
    text-align: left;
    color: #8F8F8E;
    background: white;
    border-radius: 4px;
    padding: 10px; }

.footer-images {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #191919;
  margin-right: 10px; }

#social-links img {
  margin-left: 0px;
  margin-right: 5px; }

.social-link-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #191919; }
  .social-link-img:hover {
    background: #fbbe5b; }

#resume {
  width: 100%;
  float: left; }
  #resume a {
    visibility: hidden;
    display: inline-block;
    float: right;
    background: #fbbe5b;
    color: #191919;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    cursor: pointer; }
    @media screen and (max-width: 930px) {
      #resume a:hover {
        background: #8F8F8E;
        color: white; } }

#zombie-thing-phone {
  object-fit: contain;
  max-width: 700px;
  visibility: hidden; }

.margin-0 {
  margin: 0 !important; }

#particle-js {
  width: 100%;
  color: white; }

#particle-container {
  left: 0;
  top: 150px;
  margin: 0 auto;
  height: 80.5vh; }

#front-page-info {
  width: 100%;
  max-width: 250px;
  height: 400px;
  margin: 0 auto; }
  #front-page-info img {
    border-radius: 5px;
    display: block;
    margin: 0 auto; }

#introduction {
  top: 40vh;
  left: 0;
  position: absolute; }
  #introduction h2 {
    background: rgba(25, 25, 25, 0.8); }
  #introduction p {
    background: rgba(25, 25, 25, 0.8); }

#header-title {
  margin-bottom: 0;
  cursor: pointer; }
  #header-title h1 {
    font-size: 20px;
    margin-bottom: 0; }
  #header-title p {
    margin-bottom: 0; }

.mobile-menu {
  width: 35px;
  height: 35px;
  cursor: pointer !important;
  background: none;
  border: 0;
  padding: 0; }
  .mobile-menu img {
    object-fit: contain; }
  @media screen and (min-width: 930px) {
    .mobile-menu {
      display: none; } }

.color-blue {
  color: #6D96B3 !important; }

.color-magenta {
  color: #d33682 !important; }

.color-orange {
  color: #fbbe5b !important; }

.color-smoke {
  color: #8F8F8E !important; }

.color-charchoal {
  color: #191919 !important; }

.bg-charchoal {
  background: #191919 !important; }

.bg-smoke {
  background: #8F8F8E !important; }

/*# sourceMappingURL=base.css.map */
