/*COLOR PALETTE
color: #AE2F69;
color: #30BAC7;*/

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v6/sKd0EMYPAh5PYCRKSryvW5Bw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@media screen and (min-width: 546px) {
    /*if more than */
    
    #nav-bar-list {
        display: block !important;
    }
    #menu_icon {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    /*if less than 750px*/
    
    #vertical-nav-bar li {
        float: left;
    }
    #vertical-nav-bar {
        width: 100% !important;
    }
    #container {
        width: 100% !important;
    }
    .content-data {
        padding-top: 30px;
        float: left !important;
        border-width: 1px 0px 0px 0px !important;
        padding-left: 0 !important;
        width: 100% !important;
    }
    #vertical-nav-bar li {
        margin: 10px;
    }
    #header {
        padding-bottom: 2% !important;
        padding-top: 2% !important;
    }
    #footer {
        width: 100% !important;
    }
}
@media screen and (min-width: 580px) {
    #iframe-blacksmith {
        height: 80vh;
        width: 80vh;
    }
}
@media screen and (max-width: 546px) {
    #magic-box-image {
        height: auto !important;
        width: 80%;
    }
    #iframe-blacksmith {
        height: 50vh;
        width: 50vh;
    }
    #nav-bar-list {
        display: none;
    }
    #vertical-nav-bar {
        height: 100px;
        background-color: #333333;
        border-radius: 10px;
    }
    #vertical-nav-bar ul {
        width: 100%;
    }
    #vertical-nav-bar li {
        width: 100%;
        text-align: center;
        border-width: 1px 1px 1px 1px !important;
        color: white !important;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 !important;
    }
    #vertical-nav-bar li:hover {
        color: cyan !important;
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Quicksand';
}
body {
    line-height: 1.6em;
    font-size: 16px;
    list-style: none;
}

h1, h2, h3 {
    color: #30BAC7;
}
h2 {
    font-size: 24px;
}
a {
    color: #AE2F69;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
.all-images {
    width: 80%;
    cursor: pointer;
}
.bio-bold {
    font-weight: bold;
    color: #333333;
    font-style: italic;
}
/*Custom carousel tool*/
.carousel-wrapper {
    height: 0;
    padding-bottom: 56.25%;
    /* 16:9 */
    position: relative;
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    border-color: grey;
}
.carousel-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-img img {
    width: 101%;
}

#container {
    height: 100%;
    width: 80%;
    max-width: 1000px;
    background-color: white;
    margin: 0 auto;
}
.content {
    padding: 4%;
    overflow: hidden;
}
.content-data {
    display: none;
    float: right;
    width: 80%;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: lightgrey;
    padding-left: 4%;
}
/*Display home page by default instead of using JS (slower) to show it*/
#content-home{
    display: block;
}

/*Contact form styling*/
#contact-form button {
    font-size: 18px;
    background-color: #30BAC7;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border-width: 0px;
    border-color: #30BAC7;
    ;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    opacity: 1.0;
}
#contact-form button:hover {
    opacity: 0.8;
}
#contact-form input {
    width: 100%;
    max-width: 500px;
    height: 30px;
    margin-bottom: 7px;
}
#contact-form textarea {
    width: 100%;
    max-width: 500px;
}

/*Footer styling*/
#footer-contact-info {
    width: 50px;
}
#footer-contact-info li {
    display: inline;
}
#footer {
    padding-top: 4%;
    float: right;
    width: 85%;
    color: grey;
}
#header {
    width: 100%;
    overflow: hidden;
    padding-bottom: 5%;
    padding-top: 5%;
}
#header-name-container {
    font-size: 32px;
}
.image-container {
    width: 100%;
}

/*BIO Page - language tables*/
.language-cells {
    margin: 10px;
    float: left;
}
#language-table {
    float: right;
    width: 100%;
}

/*Custom image enlarge tool*/
#magic-box {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: none;
}
#magic-box-image {
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    border-color: black;
}
#magic-box-image img {
    margin: 0 auto;
    position: relative;
    width: 50%;
    border-width: 3px;
}
#magic-box-exit {
    content: url(images/white_x.png);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#menu_icon {
    cursor: pointer;
}

#position-title {
    font-size: 18px;
    color: grey;
    padding-top: 5px;
}
#photo {
    background-image: url('images/self-potrait.jpg');
    background-size: cover;
    background-position: center center;
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 100px;
    margin-right: 10px;
}

/*BIO Page - progress bars*/
.progress-bar-container {
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}
.progress-bar {
    width: 200px;
    height: 10px;
    background-color: #30BAC7;
}

#vertical-nav-bar {
    display: inline-flex;
    height: 100%;
    float: left;
    width: 15%;
}
#vertical-nav-bar li {
    margin-bottom: 10px;
    cursor: pointer;
}
#vertical-nav-bar ul li:hover {
    color: #AE2F69;
}